#variant.selected {
    background-color: #18188f;
    color: #09f41d;
}

#next.selected {
    background-color: red;
    color: white;
}

.zoom-in {
    width: 1440px;
    height: 1022.4px;
}
img {
    width: 1200px;
    height: 852px;
}
.zoom-out {
    width: 960px;
    height: 681.6px;
}